<ion-header>
  <ion-toolbar>
    <ion-buttons class="btn-menu" slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>Listening</ion-title> -->
  </ion-toolbar>
</ion-header>

<div class="album-cover-inner"  [style.background-image]="'url(' + album_cover + ')'">
  <!-- <img src="/assets/img/supersafari.jpg" alt="super safari" /> -->
</div>
<ion-content class="bg-primary ion-padding">
  <!-- Playback section -->
  <div class="player ion-text-center">
    <!-- File name -->
    <h1>{{ title }}</h1>

    <!-- control bar -->
    <div>
      <ion-range min="0" max="{{duration}}" [(ngModel)]="position">
        <!--  [disabled]="is_in_play && is_playing"  -->
        <ion-label slot="start">{{ position*1000 | date:'mm:ss' }}</ion-label>
        <ion-label slot="end" *ngIf="duration == -1">--:--</ion-label>
        <ion-label slot="end" *ngIf="duration != -1">{{ duration*1000 | date:'mm:ss' }}</ion-label>
      </ion-range>
    </div>
    <br>

    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
        <ion-col size="4">
          <!-- Backwards -->
          <ion-button class="skip-btn"  fill="clear" [disabled]="!is_ready || !is_in_play"
            (click)="controlSeconds('back')">
            &nbsp;&nbsp;<ion-icon name="skip-backward"></ion-icon>&nbsp;&nbsp;
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <!-- Play/Pause -->
          <ion-button class="play-pause-btn" fill="clear" (click)="playRecording()" *ngIf="!is_playing"
            [disabled]="!is_ready">
            <ion-icon name="play"></ion-icon>
          </ion-button>

          <ion-button class="play-pause-btn" fill="clear" (click)="pausePlayRecording()" color="secondary" *ngIf="is_playing"
            [disabled]="!is_ready">
            <ion-icon name="pause"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <!-- Forwards -->
          <ion-button class="skip-btn" fill="clear" [disabled]="!is_ready || !is_in_play"
            (click)="controlSeconds('forward')">
            &nbsp;&nbsp;<ion-icon name="skip-forward"></ion-icon>&nbsp;&nbsp;
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>