$fontColor: white;
$bgPrimary: var(--ion-color-primary);
$bgSecondary: rgb(100, 200, 180);

ion-fab{
    right: 8vw;
    bottom: 4vh;
}
ion-title{
    text-align: center;
}
ion-list{
    width: 100%;
}
ion-header::after {
    background-image: none;
}
h2{
    font-weight: 800;
    family: 'Lato', sans-serif;
}
    .breadcrumb {
       font-weight: 300;
       position: relative;
       &::after {
          content: "\f3d1";
          font-family: 'Ionicons';
          vertical-align: middle;
          font-size: 12px;
          font-weight: 100;
          display: inline-block;
          color: #fff;
          text-align: center;
          position: absolute;
          left: 45px;
          top: 3px;
       }
    }
    .date-title {
       font-size: 20px;
       margin: 7px 0 0 0;
       letter-spacing: 1px;
       font-weight: 800;
       family: 'Lato', sans-serif; 
    }
 
.color-red{
    color: red;
}
.color-green{
    color:green;
}
.class-name{
    display: block;
    width: 100%;
    padding: 3vh 1vh 1.5vh;
    font-size: 3vh;
    text-align: center;
    background: var(--ion-color-primary);
    color: $fontColor;
}
.teacher-name{
    background: var(--ion-color-primary);
    color: $fontColor;
    display: block;
    width: 100%;
    padding: 3vh 1vh 3vh;
    font-size: 3vh;
    text-align: center;
}
.schedule{
    display: block;
    text-align: center;
    width: 100%;
    padding: 2vh;
    font-size: 2vh;
    margin: 3vh 0vh 0vh;
    background: gainsboro;
}
.txt-members{
    display: block;
    width: 100%;
    padding: 1vh;
    font-size: 1.75vh;
    text-align: left;
}