ion-header::after {
    background-image: none;
    height: 0;
    width: 0;
}
.fix-height{
    height: 61vh;
}
.margin-0{
    margin:0;
}

.default{
    display: block;
    padding: 4vw;
    font-weight: 100;
    text-align: center;
    font-size: 1.25em;
    margin-top: 20%;
}

.bg-primary{
    padding-top: 0 !important;
    background: var(--ion-color-primary);
    ion-label{
        margin: 0;
    }
}

.item-round{
    border-radius: 1rem;
}
.view-title{
    text-align: center;
    margin: 0em 0 0.2em;
    font-size: 1.2em;
}