<div *ngIf="splash" class="splash">
  <ion-label>Aguarde enquanto buscamos os seus dados financeiros</ion-label>
  <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
</div>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment (ionChange)="tabChanged($event)" color="secondary">
    <ion-segment-button value="debits" checked>
      <ion-label>À Pagar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="payed">
      <ion-label>Pagos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- PARCELAS NÃO PAGAS -->
  <div *ngIf="activeTab === 'debits'">
    <ion-card *ngFor="let d of debits">
      <ion-card-header>
        <span>#{{d.receivables_id}}</span>
        <ion-card-title>
          {{d.description}} {{d.maturity | date: "y"}} - Parcela {{d.parcel_number}}
        </ion-card-title>
      
      </ion-card-header>
    
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Valor: R$ {{d.value}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Vencimento {{d.maturity | date: "dd/MM/y"}}</ion-label>
        </ion-item>
        <!-- <ion-label *ngIf="d.field != null">{{d.field}}</ion-label> -->
        <ion-button expand="full" *ngIf="d.field" (click)="copyField(d.field)">Ver código do boleto</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- PARCELAS PAGAS -->
  <div *ngIf="activeTab === 'payed'">
    <ion-card *ngFor="let p of payed">
      <ion-card-header>
        <span>#{{p.receivables_id}}</span>
        <ion-card-title>{{p.description}} {{p.maturity | date: "y"}} - Parcela {{p.parcel_number}}</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Valor: R$ {{p.value}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Vencimento {{p.maturity | date: "dd/MM/y"}}</ion-label>
        </ion-item>
        <ion-label class="ion-text-center">Valor Pago: R$ {{p.value_paid}} em {{p.payment_date | date : "dd/MM/y" }}
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
