<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="loading-container" *ngIf="loadingEvents">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>
    <ion-label class="default" *ngIf="noEvents">Você não Possui eventos próximos!</ion-label>
    <ion-card class="event-card" *ngFor="let e of events">
      <img *ngIf="e.img" [src]="getImgBase64(e.img)"/>
      <ion-card-header>
        <ion-card-title>{{e.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>
          {{e.short_desc}}
        </p>
        <ion-item lines="none">
          <ion-icon name="calendar" slot="start"></ion-icon>
          {{e.date | date : "dd/MM/y - HH:mm" }}
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          {{e.location.text}}
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
