$white-color: #fff;
$height100: 100%;
$bgPrimary: var(--ion-color-primary);

h1{
   text-align: center;
}

.config-naosou{
  background-color: var(--ion-color-primary);
  color: white;
}


ion-button{
  min-height: 13vh;
}

ion-button {
   font-weight: 300;
}


.splash{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 999;
   display: flex;
   align-items: center;
   background: $bgPrimary;
   ion-img{
      position: absolute;
      z-index: 1000;
      top: 20vh;
      left: 10vw;
      right: 10vw;
   }
}

.spinner {
   display: block;
   width: 40px;
   height: 40px;
   margin: 100px auto;
   background-color: $white-color;
 
   border-radius: 100%;  
   -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
   animation: sk-scaleout 1.0s infinite ease-in-out;
 }
 
 @-webkit-keyframes sk-scaleout {
   0% { -webkit-transform: scale(0) }
   100% {
     -webkit-transform: scale(1.0);
     opacity: 0;
   }
 }
 
 @keyframes sk-scaleout {
   0% { 
     -webkit-transform: scale(0);
     transform: scale(0);
   } 100% {
     -webkit-transform: scale(1.0);
     transform: scale(1.0);
     opacity: 0;
   }
 }