<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listening</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of albuns" button (click)="files(a)" detail>
      <ion-thumbnail slot="start">
        <img src="{{a.cover}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{a.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
