<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configurações</ion-title>
    <ion-icon class="btn-dismiss" (click)="dismissModal()" slot="end" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="settingsForm">
      <ion-item>
        <ion-label position="stacked">Instagram Access Token</ion-label>
        <ion-input formControlName="instagram_access_token"></ion-input>
      </ion-item>
      <ion-button (click)="send()" [disabled]="!settingsForm.valid" size="large" expand="block">Salvar</ion-button>
    </form>
  </ion-card>
</ion-content>
