<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!showExercise">
    <div class="ion-padding">
      <h1>Selecione o tipo de exercício</h1>
    </div>
    <div class="padding-button">
      <ion-button fill="outline" size="large" (click)="getByLevel(1)" expand="block">Grammar</ion-button>
    </div>
    <div class="padding-button">
      <ion-button fill="outline" size="large" (click)="getByLevel(2)" expand="block">Vocabulary</ion-button>
    </div>
    <div class="padding-button">
      <ion-button fill="outline" size="large" (click)="getByLevel(3)" expand="block">Spelling</ion-button>
    </div>
  </ion-grid>
  <ion-grid *ngIf="showExercise">
    <div *ngIf="loading">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>   
    <ion-label class="default" *ngIf="noExercises">Ops... parece que não existem exercícios cadastrados para o nível selecionado! Se você ja fez todos os exercícios, tente fazer agora de outros níveis para aprimorar seus conhecimentos!</ion-label>
    <ion-list *ngIf="!noExercises">
      <ion-radio-group>
        <ion-list-header>
          <ion-label>{{currentExercise["statement"]}}</ion-label>
        </ion-list-header>
        <div *ngIf="currentExercise">
          <ion-item *ngFor="let o of currentExercise['options']" (click)="checkOption(o.desc, o.correct)">
            <ion-label>{{o.desc}}</ion-label>
            <ion-radio slot="start"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
    </ion-list>
    <ion-card class="score-card">
      <ion-card-content>
        <ion-row class="padding-fix">
          <ion-label class="lbl-score">Desempenho: {{(score*100).toFixed()}}%</ion-label>
          <ion-label class="lbl-score-detail">Acertos: {{wins}}</ion-label>
          <ion-label class="lbl-score-detail">Erros: {{loses}}</ion-label>
        </ion-row>

        <ion-label>Progresso: {{(progress*100).toFixed()}}%</ion-label>
        <ion-progress-bar class="score-pb" value="{{progress}}"></ion-progress-bar>
        <ion-button class="btn-level" fill="clear" expand="block" (click)="init()">Voltar</ion-button>
      </ion-card-content>
    </ion-card>
    
  </ion-grid>
</ion-content>