<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alteração de Dados</ion-title>
    <ion-icon class="btn-dismiss" (click)="dismissModal()" slot="end" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="userForm">
      <ion-item>
        <ion-label position="stacked">Nome *</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <p class="p-warning">(*) Campos obrigatórios</p>
      </ion-item>
      <ion-button (click)="save()" [disabled]="!userForm.valid" size="large" expand="block">Salvar</ion-button>
    </form>
  </ion-card>
</ion-content>